<!-- Default value, should exist for most videos. -->
<div class="grid justify-content-between align-items-center px-2 py-2">
    <app-breadcrumb [items]="items"></app-breadcrumb>
</div>

<div class="border-1 p-2 mb-2 border-200 border-round">

    <div class="card flex items-center gap-2 py-2 flex-wrap ">
        <p-chip label="Favorite" icon="pi pi-star-fill"  [removable]="true"/>
        <p-chip label="Most Like" icon="pi pi-thumbs-up-fill"   [removable]="true"/>
        <p-chip label="Music" icon="pi pi-headphones"  [removable]="true"/>
        <p-chip label="Info" icon="pi pi-graduation-cap"   [removable]="true"/>
    </div>

    <div class="flex flex-column md:flex-row lg:flex-row gap-4 md:overflow-x-auto">
        @for(video of videokey; track video) {
        <youtube-player [videoId]="video" (stateChange)="onPlayerStateChange($event, video)"
            placeholderImageQuality="standard" width="300" height="200" #player />

        }
    </div>
</div>
<div class="border-1 px-2 py-3 border-200 border-round">
<div class="card flex items-center gap-2 py-2 flex-wrap">
    <p-chip label="favorite" icon="pi pi-star-fill"  [removable]="true"/>
    <p-chip label="Cartoon" icon="pi pi-star-fill"  [removable]="true"/>
</div>
<div class="flex flex-column md:flex-row lg:flex-row gap-4 md:overflow-x-auto">
    @for(video of videokey2; track video) {
    <youtube-player [videoId]="video" (stateChange)="onPlayerStateChange($event, video)"
        placeholderImageQuality="standard" width="300" height="200" disablePlaceholder #player />

    }
</div>
</div>